.contactUs-firstDiv{
    display:flex;
    justify-content: center;
    align-items: start;
    width:100%;
    height: 600px;
    background-image: url("https://cdn.shopify.com/s/files/1/0726/1221/7115/files/ecom-no-replace-2RgmJOxbvBbg-hr-search.png?v=1724402439");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
}

.contactUs-firstDiv-content{
    padding-top:150px;
     width:50% 
}
.contactUs-firstDiv-heading{
    color:rgb(255,255,255);
    padding-bottom: 15px;
    font-size: 48px;
    font-weight:600;
}
.contactUs-firstDiv-para{
    color:rgb(255,255,255); 
    padding-bottom: 60px;
    font-size: 20px;
}

.contactUs-firstDiv-searchdiv{
    width:80%;
    height: 70px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: white;
    border-radius:35px;
    margin-left: 100px;
    padding: 0px 2px;

}
.contactUs-firstDiv-searchInput{
width:60%;
height: 95%;
border-radius:35px;
padding-left: 20px;
font-size: 20px;
border: 1px solid white;

}
.contactUs-firstDiv-searchButton{
width:25%;
height: 95%;
font-size: 30px;
border: 1px solid white;
border-radius:35px;
color: white;
background-color: black;
cursor: pointer;
}

.contactUs-secondDiv{
    width:100%;
    height:200px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.contactus-ordertrackingDiv{
    padding-top: 40px;
    width:20%;
    height:200px;
    border-radius: 10px;
    border: 1px solid rgb(217,217,217);
    background-color: white;
    margin-top: -100px;
    padding-bottom:20px;
} 
.contactus-ordertrackingDiv-Img{
    width: 10%;
    height: 50px;
    padding-bottom: 10px;
}
.contactus-ordertrackingDiv-heading{
    font-size: 30px;
    font-weight: lighter;
    padding-bottom: 10px;
    color: rgb(55,55,55);
}

.contactus-ordertrackingDiv-para{
    font-size: 20px;
    color:rgb(149,149,149);
    padding-bottom: 15px;
}
.contactus-ordertrackingDiv-button{
    width:60%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    color: white;
    background-color: black;
    margin-left: 80px;
    font-size: 20px;
    cursor: pointer;
}
.contactus-ordertrackingDiv-NextArrow{
    padding-left: 10px;
    width: 10%;
    height: 50px; 
    color:white ;
}

.contactUs-thirdDiv{
    padding-top: 30px;
    font-size: 20px;
}
.contactUs-thirdDiv-Helpdesk{
    width:100%;
    padding-top: 70px;
    gap:30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 100px;
}
.contactUs-thirdDiv-HelpdeskBlocks{
    width:22%;
    padding-top: 40px;
    height:200px;
    border-radius: 20px;
    background-color:rgb(244,244,255);
    padding-bottom:20px;
    padding-left: 60px;

}
.contactUs-thirdDiv-HelpdeskBlocks-img{
    display: flex;
    width: 15%;
    height: 70px;
    padding-bottom: 20px;
}
.contactUs-thirdDiv-HelpdeskBlocks-heading{
    font-size: 30px;
    font-weight: lighter;
    padding-bottom: 10px;
    display: flex; 
    color: rgb(55,55,55);
}

.contactUs-thirdDiv-HelpdeskBlocks-para{
    display: flex;
    font-size: 20px;
    color:rgb(149,149,149);
    padding-bottom: 15px; 
}
.contactUs-thirdDiv-HelpdeskBlocks-viewmore{
    display: flex;
    text-decoration: none;
}
.contactUs-fourthdiv{
    width:100%;
    background-color: rgb(224,224,255);
    padding-top: 100px;
    padding-bottom: 100px;
}

.contactUs-fourthdiv-heading{
    width:100%;
    font-size: 40px;
    padding-bottom: 50px;
    color: rgb(55,55,55);
}

.contactUs-fourthdiv-Accordion{
    display: flex;
    flex-direction: column;
    place-items:center;
    width: 70%;
    height:400px;
    background-color: white;
    margin-left: 300px;
    border-radius: 30px;
}
.contactUs-fifthdiv{
    padding-top: 120px;
    padding-bottom: 100px;
}
.contactUs-fifthdiv-heading{
    font-size: 40px;
    color: rgb(55,55,55);
    padding-bottom: 20px;
}
.contactUs-fifthdiv-para{
    font-size: 20px;
    color:rgb(66,66,66);
    padding-bottom: 60px;
}
.contactUs-fifthdiv-AnswerSupport{
    display:flex;
    width:70%;
    height:230px;
    justify-content:space-between;
    align-items: center;
    margin-left: 300px;
    border-radius: 15px;
    border:1px solid rgb(217,217,217);
    
}
.contactUs-fifthdiv-AnswerSupport-FirstBlock{
    width:25%;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-right: 1px solid rgb(217,217,217);
   
}

.contactUs-fifthdiv-AnswerSupport-FirstBlock-Img{
    width:30%;
    height:50px;
}

.contactUs-fifthdiv-AnswerSupport-FirstBlock-heading{
    width: 100%;
    font-size: 30px;
    color:rgb(55,55,55);
    padding-top: 20px;
    padding-bottom: 15px;
}

.contactUs-fifthdiv-AnswerSupport-FirstBlock-navigate{
    font-size: 20px;
    color: rgb(55,55,55);
    font-weight: bold;
    padding-bottom: 20px;
}

.contactUs-sixthdiv{
    width:100%;
    height:400px;
    border-top:1px solid rgb(217,217,217);
    border-bottom:1px solid rgb(217,217,217);
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.contactUs-sixthdiv-firstBlock{
    width:24%;
    padding-top: 80px;
    padding-left: 80px;
}
.contactUs-sixthdiv-firstBlock-button{
    background-color: white;
    border:white;
    width:30%;
    height: 40px;
    display: flex;
    cursor: pointer;
    
}
.contactUs-sixthdiv-firstBlock-para{
    display: flex;
    color: black;
    padding-top: 10px;
    align-items: center;
    font-size: 20px;
}
.contactUs-sixthdiv-firstBlock-button-img{
    width:100%;
    height: 100%;
}
.contactUs-sixthdiv-firstBlock-paraLink{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.contactUs-sixthdiv-firstBlock-para1{
    display: flex;
    color:rgb(66,66,66);
    padding-top: 20px;
    align-items: center;
    font-size: 20px;
    padding-bottom: 20px;
}
.contactUs-sixthdiv-firstBlock-LoginAddress{
    display:flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    height: 45px;
    padding: 0px 2px 0px 5px;
    
}
.contactUs-sixthdiv-firstBlock-emaiIcon{
    width:25px;
    background-color: white;
    height: 25px;
    padding-right: 30px;
}
.contactUs-sixthdiv-firstBlock-EmailInputbox{
   border: white; 
   width:60%;
   font-size: 20px;
   height:43px ;
}
.contactUs-sixthdiv-firstBlock-LoginAddress-button{
    width:30%;
    border: white; 
   font-size: 16px;
   height:41px ;
   background-color: black;
   color: white;
   cursor: pointer;
}

.contactUs-sixthdiv-secondBlock{
    width:19%;
    padding-top: 80px;
    padding-left: 130px;
}

.contactUs-sixthdiv-secondBlock-link{
    width:100%;
    text-decoration: none;
    color:rgb(63,63,63);
    font-size: 17px;
    display: flex;
    padding-top: 10px;
    padding-bottom: 5px;
}
.contactUs-sixthdiv-secondBlock-heading{
    width:100%;
    text-decoration: none;
    color: black;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}
.contactUs-sixthdiv-thirdBlock{
    width:19%;
    padding-top: 80px;
}
.contactUs-sixthdiv-fourthBlock{
    width:19%;
    padding-top: 80px;
}
.contactUs-sixthdiv-fifthBlock{
    width:19%;
    padding-top: 80px;
}

.contactUs-seventhdiv{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px 20px 50px;
}

.contactUs-seventhdiv-img{
    width:40%;
    height: 30px;
}  

